PlayerRoleDisplay {
    position: absolute;
    text-align: center;
    bottom: 25px;
    min-width: 200px;
    padding: 8px 20px;
    height: 50px;

    .role-label {
        position: relative;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
        color: white;
    }
}
