PlayerInfoDisplay {
    position: absolute;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    left: 25px;
    bottom: 25px;
    width: 225px;
    height: 50px;

    .info {
        width: 100%;
        font-size: 30px;
        font-weight: bold;
    }
}
