
Switch {
    width: 80px;
    height: 40px;
    padding: 10px;

    .checkmark {
        background-color: #000c;
        right: 0px;
        width: 100%;
        cursor: pointer;

        border-radius: 100%;

        .handle {
            position: absolute;
            width: 25px;
            height: 25px;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: all 0.2s linear;

            border-radius: 100%;
        }
    }

    &.checked .checkmark .handle {
        left: 100%;
        margin-left: -10px;
        background-color: white;
    }

    &:not(.checked) .checkmark .handle {
        left: 0%;
        margin-left: 10px;
        background-color: rgb(83, 83, 83);
    }

    &.disable .checkmark {
        cursor: default;

        .handle {
            background-color: rgb(75, 75, 75);
        }
    }
}
