Dropdown {
    padding: 10px;
    background-color: #000c;
    cursor: pointer;
    color: #fafafa;
    font-family: Poppins;

    border-radius: 16px;

    Label,
    .label {
        &.textLabel {
            padding: 2px;
            padding-right: 12px;
        }

        &.openLabel {
            font-family: MaterialIcons;
            transform: rotate(0deg);
            font-size: 21px;
            position: absolute;
            right: 10px;
            top: 12px;

            &.opened {
                transform: rotate(180deg);
                margin-top: -2px;
            }
        }
    }
}
