Dropdown {
    padding: 10px;
    background-color: #000c;
    cursor: pointer;
    color: #fafafa;
    font-family: Poppins;

    border-radius: 16px;
    z-index: 1;

    Label {
        &.textLabel {
            padding: 2px;
            padding-right: 12px;
        }

        &.openLabel {
            font-family: MaterialIcons;
            transform: rotate(0deg);
            font-size: 21px;
            position: absolute;
            right: 10px;
            top: 12px;

            &.opened {
                transform: rotate(180deg);
                margin-top: -2px;
            }
        }
    }

    .optionholder {
        opacity: 1;
        transform: translateY(100%);
        transition: opacity 0.2s ease-in-out;
        flex-direction: column;
        position: absolute;
        bottom: -5px;
        left: 10px;
        background-color: #000F;
        padding: 10px;
        border-radius: 8px;
        width: 100%;

        &.hide {
            opacity: 0;
        }

        DropdownOption {
            position: relative;
            color: white;
            border-radius: 8px;
            padding: 4px;

            &:hover {
                background-color: #555c;
            }
        }
    }
}
