DrowningIndicator {
    background-color: #000c;
    border: 1px solid #1b1b1b;
    border-radius: 4px;
    margin: auto;
    color: #fafafa;
    min-width: 300px;

    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;

    font-family: Poppins;
    font-weight: 500;
    padding: 10px;

    &.hide {
        display: none;
    }

    BarPanel {
        padding: 3px;
        border-radius: 2px;
        white-space: nowrap;

        Label {
            font-size: 18px;
            font-weight: 500;
            margin-left: 16px;
        }

        background-color: #3189ec;
    }
}
