Menu {
    background-color: #000c;
    border: 1px solid #1b1b1b;
    border-radius: 8px;

    font-family: Poppins;
    min-width: 600px;
    width: 600px;
    max-width: 800px;
    min-height: 200px;
    height: 800px;
    max-height: 800px;
    left: 50%;
    top: 50%;
    //transform: translateX(-50%) translateY(-50%); // waiting for https://github.com/Facepunch/sbox-issues/issues/551
    position: absolute;

    color: #fafafa;
    font-family: Poppins;
    font-weight: 500;
    pointer-events: all;
    flex-direction: column;

    &.hide {
        display: none;
        pointer-events: none;
    }

    &.draggable,
    Button {
        cursor: pointer;
    }

    PanelContent {
        flex-grow: 1;
        overflow: scroll;
        justify-content: start;
        flex-wrap: wrap;
        flex-direction: column;

        padding: 10px;

        &.home {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .menuButton {
                width: 160px;
                height: 160px;

                justify-content: center;
                flex-direction: column;
                text-align: center;

                background-color: #000c;
                border: 1px solid #1b1b1b;
                border-radius: 8px;

                font-size: 42px;
                font-family: MaterialIcons;
                color: white;
            }
        }

        &.settings {
            .wrapper {
                margin-top: 10px;

                Button {
                    flex-grow: 1;
                    justify-content: center;

                    background-color: #000c;
                    border: 1px solid #1b1b1b;
                    border-radius: 8px;

                    margin: 4px;
                    padding: 8px 0px;
                }
            }
        }

        &.testing {
            Label {
                margin-bottom: 10px;
            }

            Drop,
            Drag {
                background-color: #000c;
                border: 1px solid #1b1b1b;
                border-radius: 8px;
            }

            Drop {
                width: 200px;
                height: 200px;
            }

            Drag {
                width: 80px;
                height: 80px;
            }

            .fileselectionbutton {
                padding: 5px 10px;

                background-color: #000c;
                border: 1px solid #1b1b1b;
                border-radius: 8px;
            }
        }
    }
}
