Menu {
    left: 40%;
    top: 15%;

    min-width: 400px;
    width: 20%;
    max-width: 1200px;
    min-height: 400px;
    height: 70%;
    max-height: 800px;
    position: absolute;

    pointer-events: all;
    flex-direction: column;

    .panel.header {
        min-height: 50px;
        height: 60px;
    }

    &.hide {
        display: none;
        pointer-events: none;
    }

    &.draggable,
    Button {
        cursor: pointer;
    }

    > PanelContent {
        flex-grow: 1;
        overflow: scroll;
        justify-content: start;
        flex-wrap: wrap;
        flex-direction: column;

        padding: 10px;

        &.home {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            .menuButton {
                width: 160px;
                height: 160px;
                margin: 10px;

                justify-content: center;
                flex-direction: column;
                text-align: center;

                font-size: 42px;
                font-family: MaterialIcons;
                color: white;
            }
        }

        &.settings {
            overflow: hidden;

            > Tabs {
                min-height: 500px;
                flex-grow: 1;

                overflow: scroll;
                justify-content: start;
                flex-wrap: wrap;
            }

            Tabs {
                Tab Label {
                    flex-grow: 0;
                }

                PanelContent {
                    flex-grow: 1;
                    overflow: scroll;
                    justify-content: start;
                    flex-wrap: wrap;
                    flex-direction: column;

                    Label {
                        flex-grow: 1;
                        margin-top: 7px;
                    }

                    TextEntry,
                    Dropdown {
                        flex-shrink: 1;
                        min-width: 200px;
                    }

                    .setting {
                        padding: 5px;
                        margin: 2px;
                    }
                }
            }

            .wrapper {
                margin-top: 10px;

                Button {
                    flex-grow: 1;
                    justify-content: center;

                    background-color: #000c;
                    border: 1px solid #1b1b1b;
                    border-radius: 8px;

                    margin: 4px;
                    padding: 8px 0px;
                }
            }
        }

        &.testing {
            Label {
                margin-bottom: 10px;
            }

            Drop,
            Drag {
                background-color: #000c;
                border: 1px solid #1b1b1b;
                border-radius: 8px;
            }

            Drop {
                width: 200px;
                height: 200px;
            }

            Drag {
                width: 80px;
                height: 80px;
            }

            .fileselectionbutton {
                padding: 5px 10px;

                background-color: #000c;
                border: 1px solid #1b1b1b;
                border-radius: 8px;
            }
        }

        &.shopeditor {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;

            > Switch {
                margin-top: 4px;
            }

            Dropdown {
                flex-grow: 1;
                margin-left: 10px;
            }

            .wrapper {
                margin-top: 10px;
                background-color: #000c;
                border-radius: 8px;
                padding: 10px;
                width: 100%;

                flex-wrap: wrap;
                justify-content: center;

                QuickShopItem {
                    opacity: 1;
                    flex-direction: column;
                    width: 100%;
                    height: 60px;
                    margin: 10px;
                    align-items: center;
                    justify-content: center;
                    padding: 8px;
                    transition: transform 0.1s ease-in;
                    box-shadow: 0 0 10px black;
                    white-space: nowrap;
                    overflow: auto;

                    &:hover {
                        transform: scale(1.02);
                        cursor: pointer;
                    }

                    &:active {
                        transform: scale(1);
                    }

                    .item-icon {
                        position: absolute;
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 100%;
                        height: 100%;
                        left: 20px;
                    }

                    .item-name-label {
                        position: absolute;
                        text-align: center;
                        font-weight: 600;
                        font-size: 14px;
                    }

                    .item-price-label {
                        position: absolute;
                        font-weight: bold;
                        font-size: 20px;
                        right: 20px;
                    }

                    &.selected {
                        box-shadow: 0 0 15px #ffae00;
                        background-color: #222;
                    }
                }
            }
        }
    }
}
