Effects {
    position: absolute;
    right: 30px;
    bottom: 140px;
    transform: translateY(-50%);
    font-size: 12px;
    font-family: Poppins;

    Effect {
        border: 1px solid #031421;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 4px;
        width: 62px;
        height: 62px;
        margin-left: 10px;
        margin-top: 10px;

        Label {
            color: white;
            width: 100%;
            text-align: center;
        }
    }
}
