Effects {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    font-size: 12px;
    font-family: Poppins;

    Effect {
        border: 1px solid #031421;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 4px;
        width: 64px;
        height: 64px;

        margin-top: 10px;

        align-items: center;
        justify-content: center;

        Label {
            color: white;
            text-align: center;

            &:not(.countdown) {
                width: 100%;
            }

            &.countdown {
                position: absolute;
                right: -15px;
                bottom: -10px;
                border: 1px solid #031421;
                background-color: rgba(0, 0, 0, 1);
                border-radius: 4px;
                width: inherit;
                min-width: 30px;
            }
        }

        Image {
            color: white;
            text-align: center;
            width: 100%;
            height: 100%;
        }
    }
}
