GameTimer {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #1b1b1b;
    border-top: 0;
    border-radius: 4px;
    margin: auto;
    color: white;
    text-align: center;

    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    padding: 5px 15px;
    font-size: 22px;
    border-radius: 0 0 4px 4px;

    font-family: Poppins;

    GameTimerContent {
        display: flex;
        justify-content: space-around;
        width: 100%;

        .timelabel {
            margin-left: 10px;
            width: 65px;

            &.hide{
                display: none;
            }
        }
    }

    Label {
        font-weight: bold;
    }
}
