InfoFeed
{
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 100;
    flex-direction: column-reverse;
    width: 500px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    align-items: flex-end;

    InfoFeedEntry
    {
        background-color: #000c;
        border: 1px solid #1b1b1b;
        border-radius: 4px;
        margin-bottom: 5px;
        color: white;
        transition: all 0.2s ease-out;
        opacity: 1;
        flex-shrink: 0;
        flex-grow: 0;
        padding: 5px 10px;
        position: relative;

        &:intro
        {
            transform: scale(2);
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: 0;
            height: 0;
            opacity: 0;
        }

        &:outro
        {
            top: -20px;
            opacity: 0;
            transform: scale(1.1);
            transition: all 0.2s ease-in;
        }

        .left, .right
        {
            padding: 0 5px;
            font-weight: bold;

            &.me
            {
                color: white;
            }
        }
    }
}
