InspectMenu {
    &.hide {
        display: none;
    }

    background-color: #0009;
    border: 1px solid #000;
    border-radius: 4px;
    margin: auto;
    color: white;
    text-align: center;

    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 75%;
    padding: 5px 15px;
    font-size: 22px;
    border-radius: 0 0 4px 4px;

    Label {
        font-weight: bold;
    }
}
