Nameplate
{
    position: absolute;
    font-family: Poppins;
    left: 50%;
    top: 55%;
    transform: translateX(-50%) translatey(-45%);

    &.hide {
        display: none;
    }

    Label {
        color: white;
        font-weight: 400;
        font-size: 16px;
        padding: 2.5px 20px;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 4px;
        margin: auto;
        color: white;
    }
}
