Nameplate {
    position: absolute;
    font-family: Poppins;
    left: 50%;
    top: 55%;
    transform: translateX(-50%) translatey(-45%);
    background-color: #000c;
    border-radius: 4px;

    &.hide {
        display: none;
    }

    .labelHolder {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2px 30px;
        color: #fafafa;
        font-weight: 600;
        border-radius: 4px;

        .nameHolder {
            justify-content: center;
            width: 100%;

            .roleColorDot {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                margin-top: 8px;
                margin-right: 5px;

                &.hide {
                    display: none;
                }
            }
            .name {
                font-size: 16px;
            }
        }
        .damageIndicator {
            font-size: 14px;
        }
    }
}
