PlayerInfo {
    position: absolute;
    left: 10px;
    bottom: 10px;

    Background {
        background-color: white;
        padding: 5px;

        .health {
            color: red;
        }

        .weapon {
            color: blue;
        }
    }
}
