PostRoundMenu {
    background-color: #000c;
    border: 1px solid #1b1b1b;
    border-radius: 8px;

    max-width: 600px;
    width: 100%;
    left: 50%;
    top: 35%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    flex-direction: column;
    pointer-events: all;

    color: #fafafa;
    font-family: Poppins;
    font-weight: 500;

    &.hide {
        opacity: 0;
        pointer-events: none;
    }

    .closeButton {
        position: absolute;
        right: 2px;
        top: 2px;
        font-size: 20px;
        width: 15px;
        height: 15px;
        border-radius: 50%;

        Label {
            top: -6px;
            left: 3px;
        }

        &:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.13);
        }
    }

    .headerLabel {
        text-align: center;
        margin: 20px 0 0 0;
        font-weight: bold;
        font-size: 40px;
        width: 100%;
    }

    .contentLabel {
        text-align: center;
        margin: 20px 20px 20px 20px;
        font-size: 28px;
    }
}
