Scoreboard {
	position: absolute;
	z-index: 100;
	flex-direction: column;
	font-family: Roboto;
	font-size: 23px;
	font-weight: 500;
	color: white;
	display: inline-block;
	margin: auto;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: all 0.1s ease-out;
	transform: scale(1.05);
	transform-origin: 50% 50%;
	background-size: 100% 100%;
	background-position: center center;
	background-color: rgba(10, 10, 10, 0.8);

	&.open {
		opacity: 1;
		transform: scale(1);
	}

	.name {
		flex-grow: 1;
	}

	.score,
	.ping,
	.karma {
		width: 120px;
		text-align: center;
	}

	.karma {
		opacity: 0.3;
	}

	.ping,
	.deaths {
		opacity: 0.3;
		width: 80px;
		margin-left: 5px;
	}

	.deaths {
		margin-right: 50px;
	}

	.header {
		font-weight: 500;
		color: white;
		min-width: 30%;
		margin-bottom: 10px;
		padding: 5px 15px;
		background-color: rgb(235, 81, 10);
		border-radius: 32px;
		opacity: 1;
		mix-blend-mode: lighten;
	}

	.canvas {
		flex-direction: column;
		min-height: 50%;
		min-width: 30%;
		mix-blend-mode: lighten;

		.entry {
			mix-blend-mode: lighten;
			margin-bottom: 2px;
			padding: 4px 10px;
			color: #fff;
			&.me {
				background-color: #ffae0073;
			}
			&.Traitor {
				background-color: #df293554;
				&.me {
					background-color: #df2935cc;
				}
			}
			&.Detetive {
				background-color: #2196f354;
				&.me {
					background-color: #2196f3cc;
				}
			}
			&.me {
				background-color: #00aa;
			}
		}
	}
}
