Scoreboard {
    position: absolute;
    left: 50%;
    top: 50%;
    // z-index: 100;
    // flex-direction: column;
    font-family: Poppins;
    border-radius: 8px;
    width: 1200px;
    transform: translateX(-50%) translateY(-60%);
    border: 1px solid #000;
    color: #fafafa;
    opacity: 0;
    z-index: 100;
    transition: opacity 0.05s linear;
    display: flex;
    flex-direction: column;

    &.open {
        opacity: 1;
    }
    // font-size: 23px;
    // font-weight: 500;
    // color: white;
    // display: inline-block;
    // margin: auto;
    // align-items: center;
    // justify-content: center;
    // opacity: 0;
    // transition: all 0.1s ease-out;
    // transform: scale(1.05);
    // transform-origin: 50% 50%;
    // background-size: 100% 100%;
    // background-position: center center;
    // background-color: rgba(10, 10, 10, 0.8);

    ScoreboardHeaderTablehead,
    ScoreboardEntry {
        display: flex;
        flex-wrap: wrap;

        & > * {
            flex-basis: 70px;
            text-align: center;
        }
    }

    ScoreboardHeader {
        padding: 16px 30px;
        padding-bottom: 0;
        border-bottom: #363636 1px solid;
        background-color: #0007;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;

        display: flex;
        flex-direction: column;

        ScoreboardHeaderTop {
            display: flex;

            ScoreboardLogo {
                width: 100px;
                margin-right: 20px;
            }
            margin-bottom: 25px;

            ScoreboardInformation {
                display: flex;
                flex-direction: column;
            }
        }

        ScoreboardHeaderTablehead {
            margin: 0px -30px;
            height: unset;
            font-weight: 500;
            font-size: 1.2em;
            align-items: baseline;
            width: 100%;

            & > *:first-child {
                flex-grow: 2;
                padding-left: 30px;
                text-align: left;
            }

            .enemys {
                font-size: 2em;
                &.Traitor {
                    color: #df2935;
                }
                &.Innocent {
                    color: #1bc54e;
                }
            }
        }
    }

    ScoreboardMain {
        padding: 0;
        max-height: 500px;
        position: relative;
        font-weight: 300;

        ScoreboadGroup {
            margin-top: 5px;

            // &.alive {
            // 	$color: #3f7e51;
            // }
            // // &.missing {$color: #3f7e51;}
            // &.dead {
            // 	$color: #af262f;
            // }
            // &.spectator {
            // 	$color: #ba8107;
            // }

            .groupTitle {
                z-index: 100;
                border-top-right-radius: 4px;
                padding: 0 10px 0 0;
                display: block;
                font-size: 0.9em;
                font-weight: 300;
                background-color: #ba8107;
            }

            ScoreboadGroupContent {
                box-shadow: #00000040 0px 3px 5px -1px;
                border: 2px solid #ba8107;
                border-image: linear-gradient(to bottom, #ba8107, #ba8107, #ba8107, rgba(0, 0, 0, 0)) 1 1%;
                border-right-width: 0;
                border-left-width: 1px;
                border-bottom-width: 0;

                ScoreboardEntry {
                    height: 25px;

                    // Are those pseudo selectors available?
                    // &:nth-child(1n) {
                    // 	background-color: #2a2a2a66;
                    // }
                    // &:nth-child(2n) {
                    // 	background-color: #0a0a0a66;
                    // }
                    background-color: #2a2a2a66;

                    &.me {
                        background-color: #ffae0073;
                    }
                    &.Traitor {
                        background-color: #df293554;
                        &.me {
                            background-color: #df2935cc;
                        }
                    }
                    &.Detetive {
                        background-color: #2196f354;
                        &.me {
                            background-color: #2196f3cc;
                        }
                    }

                    & > *:first-child {
                        // Entry avatar
                        flex-grow: 0;
                        flex-basis: 30px;
                        img {
                            height: 23px !important;
                            border: 1px #58585859 solid;
                        }
                    }

                    & > .playername {
                        // Entry player name
                        flex-grow: 2;
                        text-align: left;
                        padding-left: 5px;
                    }
                }
            }
        }
    }

    // .entry {
    // 	mix-blend-mode: lighten;
    // 	margin-bottom: 2px;
    // 	padding: 4px 10px;
    // 	color: #fff;
    // 	font-weight: 300;
    // 	display: flex;
    // }
}

// 	.name {
// 		flex-grow: 1;
// 	}

// 	.score,
// 	.ping,
// 	.karma {
// 		width: 120px;
// 		text-align: center;
// 	}

// 	.karma {
// 		opacity: 0.3;
// 	}

// 	.ping,
// 	.deaths {
// 		opacity: 0.3;
// 		width: 80px;
// 		margin-left: 5px;
// 	}

// 	.deaths {
// 		margin-right: 50px;
// 	}

// 	.header {
// 		font-weight: 500;
// 		color: white;
// 		min-width: 30%;
// 		margin-bottom: 10px;
// 		padding: 5px 15px;
// 		background-color: rgb(235, 81, 10);
// 		border-radius: 32px;
// 		opacity: 1;
// 		mix-blend-mode: lighten;
// 	}

// 	.canvas {
// 		flex-direction: column;
// 		min-height: 50%;
// 		min-width: 30%;
// 		mix-blend-mode: lighten;
// 	}
// }
