WeaponSelection {
    position: absolute;
    bottom: 30px;
    right: 30px;
    min-width: 300px;
    display: flex;
    flex-direction: column;

    font-family: Poppins;

    WeaponSlot {
        height: 32px;
        font-size: 22px;
        color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        background-color: rgba(0, 0, 0, 0.6);
        font-size: 22px;

        &.active {
            font-weight: normal;
            background-color: rgba(0, 0, 0, 0.8);
        }

        Label {
            // font-size: 0.8em;
            margin-right: 10px;
            padding-top: 4px;
            font-weight: 500;

            &.slotlabel {
                margin-right: 14px;
                display: inline-block;
                width: 32px;
                text-align: center;
                background-color: #db8c17;
                font-weight: 600;
            }

            &.ammolabel {
                right: 10px;
                position: absolute;
            }
        }

        &.Traitor {
            Label.slotlabel {
                background-color: #df2935;
            }
        }
        &.Detective {
            Label.slotlabel {
                background-color: #2196f3;
            }
        }

        &:first-child {
            Label.slotlabel {
                border-top-left-radius: 4px;
            }

            border-radius: 5px 5px 0px 0px;
        }

        &:last-child {
            Label.slotlabel {
                border-bottom-left-radius: 4px;
            }

            border-bottom: 0;
            border-radius: 0px 0px 5px 5px;
        }
    }
}
