WeaponSelection {
    position: absolute;
    bottom: 30px;
    right: 30px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid #1b1b1b;
    border-radius: 4px;
    font-family: Poppins;

    &.hide {
        display: none;
    }

    WeaponSlot {
        height: 32px;
        font-size: 22px;
        color: white;
        border-bottom: 1px solid #000e;
        background-color: #000c;
        font-size: 22px;
        transition: height 0.1s linear;

        Label {
            // font-size: 0.8em;
            margin-right: 10px;
            // padding-top: 4px;
            font-weight: 400;

            &.slotlabel {
                margin-right: 14px;
                display: inline-block;
                width: 32px;
                text-align: center;
                background-color: #ff9800;
                font-weight: 600;
            }

            &.ammolabel {
                right: 10px;
                position: absolute;
                font-size: 20px;
                padding-top: 2px;

                &.active {
                    font-size: 22px;
                }
            }
        }

        &.active {
            background-color: rgba(0, 0, 0, 0.9);

            Label {
                font-weight: 500;
            }
        }

        &.Traitor {
            Label.slotlabel {
                background-color: #df2935;
            }
        }
        &.Detective {
            Label.slotlabel {
                background-color: #2196f3;
            }
        }

        &:first-child {
            Label.slotlabel {
                border-top-left-radius: 4px;
            }

            border-radius: 5px 5px 0px 0px;
        }

        &:last-child {
            Label.slotlabel {
                border-bottom-left-radius: 4px;
            }

            border-bottom: 0;
            border-radius: 0px 0px 5px 5px;
        }
    }
}
