body {
  --traitor-red: #df2935;
  --innocent-green: #1bc54e;
  --detective-blue: #2196f3;
  --font-black: #2a2a2a;
  --font-white: #fafafa;
  --highlight-orange: #ffae00;
  --border-color: #363636;
}

@mixin icon($size) {
  .icon {
    height: $size;
    width: $size;
    background: #fafafa5e;
    border-radius: 4px;
    border: 1px solid #031421;
    text-align: center;
    transition: all linear 0.05s;

    img {
      $width: $size * 0.8 ;
      $translate : $size / 10;
      // position: absolute;
      transform: translateY($translate);
      width: $width;
      // // max-width: 80%;
      // // margin-top: 50%;
      // transform: translateY(-50%);
    }
  }
}
@mixin icon-holder($n, $maxWidth, $itemWidth) {
  $usedSpace: ($itemWidth + 2) * $n;
  $freeSpace: $maxWidth - $usedSpace;
  $marginRight: $freeSpace / ($n - 1);
  
  // include icon-holder(5, 350px, 50px);
  // $usedSpace: (50px + 2) * 5 = 110px;
  // $freeSpace: 350px - 110px = 240px;
  // $marginRight: 240px / 4;

  display: table;
  width: $maxWidth;
  & > * {
    display: inline-block;
    width: $itemWidth;
    margin-right: $marginRight;
    &:nth-child(5n) {
      margin-right: 0;
    }
  }
  @include icon($itemWidth);
}
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    opacity: 0;
    margin-right: 2px;
    transition: all linear 0.1s;
    border-radius: 8px;                           
    background: #fff0;
  }
  &::-webkit-scrollbar:hover {
    background-color: #fff1;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    // background: $color;
    opacity: 0;
    cursor: pointer;
    border-radius: 8px;                           
  }

  &::-webkit-scrollbar-track {
    // background: #fff4;
    border-radius: 8px;                           
    transition: all linear 0.1s;
  }
}

.btn {
  border: none;
  color: white;
  padding: 4px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 2px;
  background-color: var(--traitor-red);
  opacity: 0.9;
  transition: all 0.05s linear;
  &:active,
  &:hover {
    border: 0;
    opacity: 1;
  }
}

.price::before {
  content: "$";
  margin-right: 0.5rem;
  background: var(--traitor-red);
  border-radius: 50%;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  text-align: center;
  font-size: 0.9em;
}
