body {
  --traitor-red: #df2935;
  --innocent-green: #1bc54e;
  --detective-blue: #2196f3;
  --font-black: #2a2a2a;
  --font-white: #fafafa;
  --highlight-orange: #ffae00;
  --border-color: #363636;
}

.btn {
  border: none;
  color: white;
  padding: 4px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 2px;
  background-color: var(--traitor-red);
  opacity: 0.9;
  -webkit-transition: all 0.05s linear;
  transition: all 0.05s linear;
}

.btn:active, .btn:hover {
  border: 0;
  opacity: 1;
}

.price::before {
  content: "$";
  margin-right: 0.5rem;
  background: var(--traitor-red);
  border-radius: 50%;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  text-align: center;
  font-size: 0.9em;
}

.panel, .inspect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #0009;
  border: 1px solid #000;
  border-radius: 4px;
  margin: auto;
  color: var(--font-white);
  -webkit-transition: opacity linear 0.05s;
  transition: opacity linear 0.05s;
}

.panel.fixed, .fixed.inspect {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  opacity: 0%;
}

.panel.fixed.open, .fixed.open.inspect {
  opacity: 100%;
  z-index: 100;
}

.panel h2, .inspect h2,
.panel h3,
.inspect h3 {
  margin: 0;
}

.panel h2, .inspect h2 {
  font-size: 24px;
  font-weight: 500;
}


.panel h3,
.inspect h3 {
  font-weight: 400;
  font-size: 18px;
}

.panel .header, .inspect .header {
  border-bottom: var(--border-color) 1px solid;
  background-color: #0007;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.panel .header.slim, .inspect .header.slim {
  max-height: 32px;
  padding: 0;
}

.panel main, .inspect main {
  padding: 16px 30px;
  overflow-y: auto;
}

.panel main::-webkit-scrollbar, .inspect main::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  opacity: 0;
  margin-right: 2px;
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
  border-radius: 8px;
  background: #fff0;
}

.panel main::-webkit-scrollbar:hover, .inspect main::-webkit-scrollbar:hover {
  background-color: #fff1;
}

.panel main::-webkit-scrollbar-thumb, .inspect main::-webkit-scrollbar-thumb {
  background: var(--traitor-red);
  opacity: 0;
  cursor: pointer;
  border-radius: 8px;
}

.panel main::-webkit-scrollbar-track, .inspect main::-webkit-scrollbar-track {
  border-radius: 8px;
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

.panel footer, .inspect footer {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  border-top: var(--border-color) 1px solid;
  background-color: #0007;
  padding: 16px 30px;
}

.panel.sm, .sm.inspect {
  border-radius: 4px;
  max-width: 500px;
  width: 100%;
}

.panel.lg, .lg.inspect {
  border-radius: 8px;
  max-width: 800px;
  width: 100%;
}

.panel.lg .header, .lg.inspect .header {
  padding: 16px 30px;
}

.panel.xl, .xl.inspect {
  border-radius: 8px;
  max-width: 1200px;
  width: 100%;
}

.panel.xl .header, .xl.inspect .header {
  padding: 16px 30px;
}

.inspect {
  min-width: 600px;
  padding: 6px 12px;
  text-align: center;
}

.inspect .icon {
  height: 75px;
  width: 75px;
  background: #fafafa5e;
  border-radius: 4px;
  border: 1px solid #031421;
  text-align: center;
  -webkit-transition: all linear 0.05s;
  transition: all linear 0.05s;
}

.inspect .icon img {
  -webkit-transform: translateY(7.5px);
          transform: translateY(7.5px);
  width: 60px;
}

.inspect.fixed {
  top: 66%;
}

.inspect .headline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inspect .headline h2 {
  text-align: left;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.inspect .headline span {
  text-align: right;
  font-size: 1.1em;
  color: var(--detective-blue);
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.inspect .avatar img {
  border-radius: 50%;
  width: 99%;
  border: 2px solid var(--detective-blue);
}

.inspect .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 15px;
}

.inspect .icon-holder {
  text-align: center;
}

.inspect .pickup {
  color: var(--highlight-orange);
  text-align: center;
  font-size: 0.8em;
}
/*# sourceMappingURL=Inspect.css.map */