@import 'general';

.panel {
    user-select: none;
    background-color: #0009;
    border: 1px solid #000;
    border-radius: 4px;
    margin: auto;
    color: var(--font-white);
    transition: opacity linear 0.05s;  
    &.fixed {
        position:absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -60%);
        opacity: 0%;
        &.open {
            opacity: 100%;
            z-index: 100;
        }
    }

    h2,
    h3 {
        margin: 0;
    }
    h2 {
        font-size: 24px;
        font-weight: 500;
    }
    h3 {
        font-weight: 400;
        font-size: 18px;
    }
    .header {
        &.slim {
            max-height: 32px;
            padding:0;
        }
        border-bottom: var(--border-color) 1px solid;
        background-color: #0007;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    main {
        padding: 16px 30px;
        @include scrollbars(10px,var(--traitor-red), #fff9);
        overflow-y: auto;
    }
    footer {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        border-top: var(--border-color) 1px solid;
        background-color: #0007;
        padding: 16px 30px;
    }
    &.sm {
        border-radius: 4px;
        max-width: 500px;
        width:100%;
    }

    &.lg {
        border-radius: 8px;
        max-width: 800px;
        width:100%;
        .header {
            padding: 16px 30px;
        }
    }
    &.xl {
        border-radius: 8px;
        max-width: 1200px;
        width:100%;
        .header {
            padding: 16px 30px;
        }
    }
}
