@import "Panel";
@import "general";

@mixin scoreboard-group($color, $text) {
    margin-top: 5px;

    div.label {
        &:before {
            content: "";
            display: inline-block;
            width: 30px;
            text-align: center;
            transform: rotate(90deg);
            content: "\276F";
            transition: all 0.5s;
        }
        // border-top-left-radius: px;
        z-index: 100;
        border-top-right-radius: 4px;
        padding: 0 10px 0 0;
        display: block;
        width: fit-content;
        text-transform: uppercase;
        background-color: $color;
        font-size: 0.9em;
        font-weight: 300;
        .text {
        }
    }
    .scoreboard-holder {
        width: 100%;
        overflow: auto;
        height: 100%;
        padding-right: 15px;
    }
    .content {
        box-shadow: #00000040 0px 3px 5px -1px;
        border-width: 2px;
        border-style: solid;
        // border-image: linear-gradient(180deg, $color 0%, $color 80%, rgba(0,0,0,0) 100%);
        border-image: linear-gradient(to bottom, $color, $color, $color, rgba(0, 0, 0, 0)) 1 1%;
        border-color: $color;
        border-right-width: 0;
        border-left-width: 1px;
        border-bottom-width: 0;

        // margin-top: 20px;
    }
}

.scoreboard {
    @extend .panel;
    @extend .panel.xl;

    .header {
        padding-bottom: 0;
        .top {
            display: flex;
            .logo {
                width: 100px;
                margin-right: 20px;
            }
            margin-bottom: 25px;
        }

        .headerline {
            margin: 0px -30px;
            height: unset;
            font-weight: 500;
            font-size: 1.2em;
            align-items: baseline;

            & > *:nth-child(1) {
                flex-grow: 2;
                padding-left: 30px;
                text-align: left;
            }
            .enemys {
                font-size: 2em;
                color: var(--innocent-green);
            }
        }
        .description {
            font-weight: 300;
            font-size: 0.9em;
            margin-top: 10px;
            margin-bottom: 0;
            padding-right: 75px;
        }
    }

    main {
        padding: 0;
        max-height: 500px;
        position: relative;
        font-weight: 300;
        // @include scoreboard-group(#3F7E51, "alive");
        .scoreboard-group {
            &.alive {
                @include scoreboard-group(#3f7e51, "Alive");
            }
            // &.missing { @include scoreboard-group(#, "Missing") }
            &.dead {
                @include scoreboard-group(#af262f, "Dead");
            }
            &.spectator {
                @include scoreboard-group(#ba8107, "Spectator");
            }   
        }
        .headerline {
            & > *:nth-child(1) {
                flex-grow: 0;
                flex-basis: 30px;
                img {
                    height: 23px !important;
                    border: 1px #58585859 solid;
                }
            }
            & > *:nth-child(2) {
                flex-grow: 2;
                text-align: left;
                padding-left: 5px;
            }

            &:nth-child(1n) {
                background-color: #2a2a2a66;
            }
            &:nth-child(2n) {
                background-color: #0a0a0a66;
            }
    
            &.traitor { background-color: #df293554;}
            &.dete {background-color: #2196f354;}
        }
    }

    .headerline {
        height: 25px;
        display: flex;
        flex-flow: row wrap;
        & > * {
            flex-basis: 70px;
            text-align: center;
        }
    }
}

// #3F7E51
