.gameresultsmenu {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    transition: all 0.5s ease-in-out;
    justify-content: center;
    text-align: center;
    pointer-events: all;
    opacity: 0;
    z-index: 2;

    &.shown {
        opacity: 1;
    }

    .eventwrapper {
        flex-direction: column;
        width: 100%;
        padding: 20px;

        > .eventpanel {
            width: 100%;
            padding: 10px;
            margin: 2px;
            justify-content: center;
            text-align: center;

            flex-direction: row;
            opacity: 0.9;

            &:hover {
                background-color: black;
                opacity: 1;
            }
        }
    }
}
