.background-panel {
    display: flex;
    pointer-events: all;
    height: 600px;
    width: 500px;
    background-color: black;
    padding: 25px;
    flex-direction: column;

    .disabled {
        display: none;
    }
}
