C4Arm {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.15s ease-out;
    pointer-events: all;
    text-align: center;
    justify-content: center;
    align-items: center;

    .content-container {
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        transition: transform 0.25s ease-out;

        .timer-panel {
            background-color: rgba(188, 183, 5, 0.53);
            padding: 8px;
            border-radius: 4px;
            margin: 10px;
        }

        .timer-label {
            font-size: 30px;
            font-family: RobotoMono;
        }

        .timer-button-panel {
            flex-direction: row;
            max-width: 300px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        .action-button-panel {
            flex-direction: row;
            justify-content: end;
            align-items: end;
        }

        .button {
            flex-direction: column;
            width: 70px;
            height: 70px;
            margin: 10px;
            align-items: center;
            justify-content: center;
            transition: transform 0.1s ease-in;
            overflow: auto;
            background-color: #1e1e1e;
            border-radius: 5px;

            &:hover {
                transform: scale(1.05);
            }

            &:active {
                transform: scale(1);
            }
        }

        .arm-button {
            background-color: rgb(101, 27, 27);
        }

        .action-button {
            background-color: #282828;
        }
    }

    &.fade-in {
        opacity: 1;
    }
}
