C4ArmControl {
    background-color: #000c;
    border: 1px solid #1b1b1b;
    border-radius: 8px;
    min-width: 600px;
    max-width: 800px;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
    flex-direction: column;
    margin: auto;
    position: absolute;
    color: #fafafa;
    font-family: Poppins;
    font-weight: 500;
    pointer-events: all;

    &.hide {
        display: none;
        pointer-events: none;
    }

    Header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 5px 14px;
        background-color: #0007;
        border-bottom: 1px solid #363636;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;

        Button {
            padding: 6px;
            height: 32px;
            border-radius: 2px;
            border-radius: 8px;
            background-color: #0007;
            margin: 5px;

            &:hover {
                cursor: pointer;
                opacity: 1;
                background-color: #df2935;
            }
        }
    }

    Content {
        flex-direction: column;
        max-height: 600px;
        padding: 16px;
        width: 100%;

        Display {
            display: flex;
            justify-content: center;
            flex-direction: column;

            .timer {
                font-size: 64px;
                text-align: center;
            }

            Presets {
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;

                PresetButtons {
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    padding: 10px;

                    Button {
                        padding: 6px 50px;
                        height: 32px;
                        border-radius: 2px;
                        border-radius: 8px;
                        background-color: #000;
                        opacity: 0.8;
                        margin: 5px;

                        &:hover {
                            cursor: pointer;
                            opacity: 1;
                            background-color: #df2935;
                        }
                    }
                }
            }
        }
    }

    Footer {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 12px 18px;
        background-color: #0007;
        border-bottom: 1px solid #363636;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        width: 100%;

        Button {
            padding: 10px 60px;
            height: 38px;
            border-radius: 2px;
            border-radius: 8px;
            background-color: #000;
            opacity: 0.8;
            margin: 5px;
            width: 100%;

            &.armButton {
                background-color: #df2935;
            }

            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
    }
}
