.c4arm {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.15s ease-out;
    pointer-events: all;
    text-align: center;
    justify-content: center;
    align-items: center;

    z-index: 1;

    .content-container {
        position: absolute;
        align-items: center;
        justify-content: center;
        padding: 10px;
        transition: transform 0.25s ease-out;

        > .timer {
            flex-direction: column;
            padding: 8px;
            border-radius: 4px;
            margin: 10px;
            align-items: center;
            justify-content: center;

            > .timer {
                font-size: 30px;
                font-family: RobotoMono;
            }
        }

        .timer-buttons {
            max-width: 300px;
            flex-wrap: wrap;
        }

        .timer-buttons,
        .action-buttons {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .button {
            flex-direction: column;
            width: 70px;
            height: 70px;
            margin: 10px;
            align-items: center;
            justify-content: center;
            text-align: center;
            transition: transform 0.1s ease-in;
            border-radius: 5px;
            font-size: 12px;
            background-color: #383838;

            &:hover {
                transform: scale(1.05);
            }

            &:active {
                transform: scale(1);
            }
        }

        .arm-button {
            background-color: rgb(101, 27, 27);
        }
    }

    &.fade-in {
        opacity: 1;
    }
}
