C4Menu {
    background-color: #000c;
    border: 1px solid #1b1b1b;
    border-radius: 8px;

    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
    margin: auto;
    position: absolute;

    color: #fafafa;
    font-family: Poppins;
    font-weight: 500;
    pointer-events: all;

    &.hide {
        display: none;
        pointer-events: none;
    }

    Header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}
