DialogBox,
.dialogbox {
    width: 600px;
    left: 50%;
    top: 50%;
    position: absolute;
    flex-direction: column;

    pointer-events: all;

    &.hide {
        display: none;
        pointer-events: none;
    }

    .header,
    .footer {
        flex-direction: row;
        padding: 5px;
    }

    .content {
        padding: 10px;
    }

    .header {
        border-radius: 8px 8px 0px 0px;
        font-size: 18px;
        font-weight: bold;
    }

    .footer {
        border-radius: 0px 0px 8px 8px;

        .button {
            border: 1px solid #1b1b1b;
            background-color: #000c;

            flex-grow: 1;
            justify-content: center;

            font-size: 28px;
            font-family: MaterialIcons;
            color: white;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
