RadarPoint {
    position: absolute;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    margin-top: -4px;
    border-radius: 100%;
    padding: 4px;
    text-align: center;

    align-items: center;
    justify-content: center;

    .distance-label {
        position: absolute;
        top: 15px;
        font-weight: bold;
        width: 100px;
    }
}
