$button-size: 50px;

button
{
	font-family: Poppins;
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
	background-color: $button-inactive;
	padding: 8px 16px;
	border-radius: 8px;
	color: $button-inactive-fg;
	align-items: center;
	min-height: $button-size;

	> iconpanel
	{
		font-size: 22px;
	}

	&.has-label > iconpanel
	{
		margin-right: 10px;
	}

	&:hover
	{
		background-color: $button-active;
		color: $button-active-fg;
	}

	&.active
	{
		background-color: $button-active;
		color: $button-active-fg;
	}

	&:active
	{
		background-color: $button-active-fg;
		color: $button-active;
	}

	&.inactive
	{
		opacity: 0.2;
		pointer-events: none;
	}

	&.tight
	{
		padding: 8px 8px;
		height: $button-size;
		min-width: $button-size;
		justify-content: center;
	}
}