$form-control-height: 24px !default;

checkbox
{
	cursor: pointer;
	color: $button-active;
	align-items: center;

	label
	{
		pointer-events: none;
	}

	> .checkmark
	{
		padding: 1px;
		font-size: 22px;
		border: 3px solid $button-inactive;
		border-radius: 4px;
		text-align: center;
		justify-content: center;
		align-items: center;
		color: transparent;
		min-height: $form-control-height;
		margin-right: 10px;
		pointer-events: none;
	}

	&.checked
	{
		> .checkmark
		{
			color: white;
			background-color: $button-inactive;
		}
	}

	&:active
	{
		color: white;
	}

	&:hover
	{
		color: white;
	}

	&.inactive
	{
		opacity: 0.2;
		pointer-events: none;
	}
}
