select
{
    font-family: Poppins;
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
	background-color: $button-inactive;
	padding: 8px 16px;
	border-radius: 8px;
	color: $button-inactive-fg;
	align-items: center;

    &.has-label > iconpanel
	{
		margin-right: 10px;
	}

    &:hover
	{
		background-color: $button-active;
		color: $button-active-fg;
	}

	&.active
	{
		background-color: $button-active;
		color: $button-active-fg;
        border-radius: 8px 8px 8px 0px;
	}

	&:active
	{
		background-color: $button-active-fg;
		color: $button-active;
	}

	&.inactive
	{
		opacity: 0.2;
		pointer-events: none;
	}

	&.tight
	{
		padding: 8px 8px;
		height: $button-size;
		min-width: $button-size;
		justify-content: center;
	}
}

popup
{
    position: absolute;
	flex-direction: column;
	transform-origin: 0% 0%;

	&.below-stretch
	{
		transform-origin: 0% 0%;

		&:intro
		{
			transform: scaleY( 0.1 );
		}
	}
	
	button {
		border-radius: 0px;
	}
    
    button:last-child {
        border-radius: 0px 0px 8px 8px;
    }
}