.mapselectionmenu {
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    z-index: 5;

    .title {
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 20px;
    }

    .map-wrapper {
        flex-wrap: wrap;
        max-width: 880px;
        overflow: scroll;
        justify-content: flex-start;
        max-height: 700px;
    }
}
