$button-size: 50px;

button, translationbutton
{
	display: flex;
	font-family: Poppins;
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
	padding: 8px 16px;
	border-radius: 8px;
	min-height: $button-size;
	align-items: center;

	> iconpanel
	{
		font-size: 22px;
	}

	&.has-label > iconpanel
	{
		margin-right: 10px;
	}

	&.inactive
	{
		opacity: 0.3;
		pointer-events: none;
	}
}