@import "../../Hud.scss";

Scoreboard {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.15s ease-out;
    justify-content: center;
    pointer-events: all;
    z-index: 3;

    .scoreboard-container {
        width: 50%;
        flex-direction: column;
        justify-content: center;
        transition: transform 0.25s ease-out;
        transform: scale(0.9);

        &.pop-in {
            transform: scale(1);
        }

        .column-label-panel {
            flex-direction: row;
            justify-content: flex-end;
            padding: 4px;
        }

        .scoreboard-content {
            flex-direction: column;
            padding: 8px;
            max-height: 66%;
            overflow: scroll;
        }

        .scoreboard-footer {
            height: 25px;
        }
    }

    &.fade-in {
        opacity: 1;
    }
}

ScoreboardHeader {
    flex-direction: row;
    max-height: 100px;
    justify-content: space-between;
    padding: 16px;

    .game-logo {
        background-image: url("assets/logos/ttt_reborn_logo.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 75px;
        height: 75px;
    }

    .server-information-panel {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        margin-left: 12px;
        margin-right: 12px;
    }

    .server-name-label {
        font-size: 20px;
        font-weight: 600;
    }

    .server-description-label {
        font-weight: 400;
    }

    .server-data-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
    }

    .server-map-label {
        font-size: 16px;
        font-weight: 500;
    }

    .server-players-label {
        font-weight: 500;
    }
}

ScoreboardGroup {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    flex-shrink: 0;
    flex-grow: 0;

    &:first-child {
        margin-top: 0;
    }

    .group-title-panel {
        height: 25px;
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        align-items: center;
        padding: 8px;
    }

    .group-title-label {
        font-size: 14px;
        flex-grow: 1;
    }

    .group-karma-label,
    .group-ping-label {
        text-align: center;
        width: 125px;
    }

    &:not(:first-child) {
        .group-karma-label,
        .group-ping-label {
            display: none;
        }
    }

    .group-content-panel {
        display: flex;
        flex-direction: column;
    }

    &.alive {
        .group-title-panel {
            background-color: $alive;
        }
    }

    &.dead {
        .group-title-panel {
            background-color: $dead;
        }
    }

    &.missing {
        .group-title-panel {
            background-color: $missing;
        }
    }

    &.spectator {
        .group-title-panel {
            background-color: $spectator;
        }
    }
}

ScoreboardEntry {
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    padding: 8px;

    .avatar {
        height: 25px;
        width: 25px;
    }

    .name-label {
        margin-left: 8px;
        font-size: 16px;
        font-weight: 600;
        flex-grow: 1;
    }

    .karma,
    .ping {
        width: 125px;
        text-align: center;
        font-weight: 700;
        padding-left: 25px;
        padding-right: 25px;
    }

    &:nth-child( odd ) {
        background-color: #0a0a0a66;
    }

    &:nth-child( even ) {
        background-color: #4b4b4b15;
    }

    &.me:nth-child(1) {
        background-color: #f2b42d1a;
    }

    &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}
