.scoreboard {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.15s ease-out;
    justify-content: center;
    pointer-events: all;
    z-index: 3;

    .scoreboard-container {
        width: 50%;
        flex-direction: column;
        justify-content: center;
        transition: transform 0.25s ease-out;
        transform: scale(0.9);

        &.pop-in {
            transform: scale(1);
        }

        .column-label-panel {
            flex-direction: row;
            justify-content: flex-end;
            padding: 4px;
        }

        .scoreboard-content {
            flex-direction: column;
            padding: 8px;
            max-height: 66%;
            overflow: scroll;
        }

        .scoreboard-footer {
            height: 25px;
        }
    }

    &.fade-in {
        opacity: 1;
    }
}
