Scoreboard {
    position: absolute;
    font-family: Poppins;
    border-radius: 8px;
    width: 1200px;
    left: 50%;
    border: 1px solid #1b1b1b;
    color: #fafafa;
    opacity: 0;
    z-index: 100;
    transition: opacity 0.05s linear;
    display: flex;
    flex-direction: column;
    background-color: #000c;
    align-self: center;
    transform: translateX(-50%);

    &.open {
        opacity: 1;
    }

    Header {
        padding: 16px 30px;
        padding-bottom: 25px;
        border-bottom: #363636 1px solid;
        background-color: #0007;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        display: flex;

        .scoreboardLogo {
            background-image: url("/assets/TTT-Reborn-Logo.png");
            background-size: cover;
            width: 100px;
            height: 100px;
            margin-right: 20px;
        }

        .informationHolder {
            display: flex;
            flex-direction: column;

            .serverName {
                font-size: 24px;
                font-weight: 500;
            }

            .serverInfo {
                font-weight: 400;
                font-size: 18px;
            }

            .serverDescription {
                font-weight: 300;
                font-size: 0.9em;
                margin-top: 10px;
                margin-bottom: 0;
                padding-right: 75px;
            }
        }
    }

    TableHeader {
        background-color: #0007;
        display: flex;
        flex-direction: row;
        font-weight: 500;
        font-size: 20px;
        padding-bottom: 8px;

        .name {
            padding-left: 20px;
        }
    }

    .mainContent {
        flex-direction: column;

        ScoreboardGroup {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 5px;

            .scoreboardGroup__title-wrapper {

                .scoreboardGroup__title {
                    background-color: #3f7e51;
                    font-size: 14px;
                    font-weight: 300;
                    border-top-right-radius: 4px;
                    padding: 0 20px;
                }
            }

            .scoreboardGroup__content {
                // border-image: linear-gradient(to bottom, #3f7e51, #3f7e51, #3f7e51, rgba(0, 0, 0, 0)) 1 1%;
                border: 2px solid #3f7e51;
                border-right-width: 0;
                border-left-width: 2px;
                border-bottom-width: 0;
                display: flex;
                flex-direction: column;
                box-shadow: 0px 3px 5px -1px #00000040;

                ScoreboardEntry {
                    width: 100%;

                    Label {
                        &.rolecolor {
                            width: 10px;
                            height: 10px;
                            border-radius: 100%;
                            margin: 5px 7.5px 0px 7.5px;
                        }
                    }

                    &:nth-child( odd ) {
                        background-color: #0a0a0a66;
                    }

                    &:nth-child( even ) {
                        background-color: #4b4b4b15;
                    }

                    &.me:nth-child(1) {
                        background-color: #f2b42d1a;
                    }
                }

            }

            &.dead {
                .scoreboardGroup__title {
                    background-color: #e12c3b;
                }

                .scoreboardGroup__content {
                    border: #e12c3b;
                }
            }

            &.mia {
                .scoreboardGroup__title {
                    background-color: #c6793a;
                }

                .scoreboardGroup__content {
                    border: #c6793a;
                }
            }

            &.spectator {
                .scoreboardGroup__title {
                    background-color: #d6af02;
                }

                .scoreboardGroup__content {
                    border: #d6af02;
                }
            }
        }
    }

    .name {
        flex-grow: 1;
    }

    .score,
    .karma,
    .ping {
        width: 90px;
        text-align: center;
    }

    .footer {
        margin-top: 10px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        border-top: #363636 1px solid;
        background-color: #0007;
        padding: 16px 30px;
    }
}
