Effects {
    align-items: flex-end;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 25px;
}

Effect {
    width: 64px;
    height: 64px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;

    .countdown {
        font-size: 24px;
        font-weight: bold;
    }

    .effect-image {
        width: 100%;
        height: 100%;
        opacity: 0.25;
    }

    .name-label {
        font-size: 10px;
        position: absolute;
        bottom: 5px;
    }
}
