.hidden {
    display: none;
    pointer-events: none;
}

.color-primary {
    background-color: #17191c;
}

.color-secondary {
    background-color: #2D2F32;
}

.color-tertiary {
    background-color: #81848C;
}

.color-highlight {
    background-color: #F18805;
}

.color-traitor {
    background-color: #BB0000;
}

.color-innocent {
    background-color: #479E00;
}

.color-detective {
    background-color: #003A9E;
}

.color-norole {
    background-color: #C5CDDA;
}
