Window
{
    width: 600px;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    flex-direction: column;
    justify-content: space-between;

    .header
    {
        width: 100%;
        height: 50px;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer
    {
        width: 100%;
        height: 50px;
        flex-direction: row;
        justify-content: space-between;
    }
}
