$form-control-size: 25px !default;

checkbox, translationcheckbox
{
	cursor: pointer;
	color: white;
	align-items: center;

	label
	{
		pointer-events: none;
	}

	> .checkmark
	{
		text-shadow: 0px 0px 0px 0px transparent;
		padding: 1px;
		font-size: 22px;
		border: 1px solid rgba(255, 255, 255, 0.452);
		border-radius: 4px;
		text-align: center;
		justify-content: center;
		align-items: center;
		color: transparent;
		margin-right: 10px;
		pointer-events: none;
		width: $form-control-size;
		height: $form-control-size;
	}

	&.checked
	{
		> .checkmark
		{
			color: white;
		}
	}

	&:active
	{
		color: white;
	}

	&:hover
	{
		color: white;
	}

	&.inactive
	{
		opacity: 0.35;
		pointer-events: none;
	}
}