VisualProgrammingWindow {
    background-color: gray;

    > .panel {
        &.header {
            position: absolute;
            border-radius: 0px;
            z-index: 1;
            width: 50px;
            right: -5px;
            top: -5px;
            padding: 0px;

            Label.title {
                display: none;
            }
        }

        &.footer {
            display: none;
        }
    }

    NodeConnectionWire {
        z-index: -1;

        > .panel {
            position: absolute;
            background-color: rgb(61, 118, 243);
        }
    }
}
