VisualProgrammingWindow {
    background-color: gray;

    > .panel {
        &.header {
            position: absolute;
            border-radius: 0px;
            z-index: 1;
            width: 210px;
            right: 0px;
            top: -5px;
            padding: 5px;

            Label.title {
                display: none;
            }

            .play, .save, .load {
                font-family: MaterialIcons;
                font-size: 28px;
                margin: 10px;
                padding: 2px;

                width: 28px;
                height: 28px;
            }

            .closebutton {
                margin: 10px 20px;
            }
        }

        &.footer {
            display: none;
        }
    }

    .nodeconnectionwire {
        z-index: -1;

        > .nodeconnectionwirepart {
            position: absolute;
            background-color: rgb(61, 118, 243);
        }
    }
}
