
VoiceList
{
	position: absolute;
	bottom: 200px;
	right: 20px;
	flex-direction: column;
	width: 300px;
	padding: 5px;
	padding-bottom: 0px;
	font-family: Poppins;

	VoiceEntry
	{
		background-color: rgba(black, 0.8);
		flex-direction: row;
		padding: 6px;
		margin-bottom: 5px;
		align-items: center;
		align-content: center;
		border-radius: 4px;
		overflow: hidden;
		transition: all 0.1s ease-out;
		left: 0px;

		&:intro
		{
			opacity: 0;
			margin-left: 20px;
		}

		&:outro
		{
			opacity: 0;
			margin-left: 20px;
			transition: all 0.1s ease-out;
		}

		.avatar
		{
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}

		.name
		{
			font-size: 16px;
			font-weight: 500;
			margin-left: 10px;
			flex-grow: 1;
			color: #c0fb2e;
		}
	}
}
