@import "../../../../Hud.scss";

.eventpanel {
    margin: 0px 10px;
    width: 100%;
    flex-direction: row;
    flex-shrink: 0;

    // Not working due to an S&Box bug
    // &:hover .wrapper {
    //     background-color: rgba(255, 255, 255, 0.025);
    // }

    > .line {
        width: 4px;
        height: 100%;
        background-color: $button-secondary;
        margin: 0px 5px;
    }

    &:last-child .line {
        background-color: $secondary;
    }

    > .wrapper {
        width: 100%;
        padding: 5px;
        margin-bottom: 20px;
        flex-direction: column;

        > .icon-holder {
            background-color: $secondary;
            border-radius: 100%;
            border: 4px $button-secondary solid;
            width: 72px;
            height: 72px;

            position: absolute;
            left: -46px;
            opacity: 1;

            padding: 2px;

            justify-content: center;
            align-items: center;

            > .icon {
                width: 40px;
                aspect-ratio: 1;
                background-size: cover;
            }
        }

        > .header,
        > .content {
            margin-left: 40px;
            font-size: 16px;
        }

        > .header {
            margin-bottom: 2px;

            > .title {
                flex-grow: 1;
                font-size: 20px;
            }

            > .time {
                flex-shrink: 1;
                margin-right: 5px;
                margin-top: 5px;
            }
        }

        > .content {
            flex-direction: column;

            > .description {
                flex-shrink: 1;
            }

            > .score {
                margin: 10px;
                border: 10px $primary solid;
                background-color: $primary;

                flex-direction: column;
                flex-shrink: 0;
                flex-grow: 1;
                margin-right: 50px;
                margin-top: 20px;

                > .entry {
                    padding: 10px;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    > label,
                    > translationlabel {
                        width: 33%;
                    }

                    &.header {
                        background-color: $button-primary;
                    }

                    &:nth-child(2)
                    {
                        background-color: $secondary;
                    }

                    &:hover:not(.header) {
                        background-color: rgba(255, 255, 255, 0.05);
                    }
                }
            }
        }
    }
}
