PanelHeader {
    width: 100%;
}

.title {
    padding: 5px;
}

.title {
    flex-grow: 1;
}

.closeButton {
    // background-color: transparent;
    // padding: 10px;
    
    // &:hover, &:active {
    //     background-color: transparent;
    //     color: rgb(200, 200, 200);
    // }
}
