TranslationDropdown
{
    font-family: Poppins;
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
	padding: 8px 16px;
	border-radius: 8px;
	align-items: center;
	min-width: 150px;
	background-color: black;

    &.has-label > iconpanel
	{
		margin-right: 10px;
	}

	&.active
	{
        border-radius: 8px 8px 0px 0px;
	}

	&.inactive
	{
		opacity: 0.2;
		pointer-events: none;
	}
}

select, translationselect
{
    font-family: Poppins;
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
	padding: 8px 16px;
	border-radius: 8px;
	align-items: center;

    &.has-label > iconpanel
	{
		margin-right: 10px;
	}

	&.active
	{
        border-radius: 8px 8px 0px 0px;
	}

	&.inactive
	{
		opacity: 0.2;
		pointer-events: none;
	}
}

popup
{
    position: absolute;
	flex-direction: column;
	transition: all 0.1s ease-out;
	z-index: 200;
	background-color: black;

	&:intro
	{
		transform: scale( 0 );
		pointer-events: none;
		opacity: 0;
	}

	&:outro
	{
		opacity: 0;
		transition: all 0.1s ease-in;
		margin-top: 50px;
		pointer-events: none;
	}

	button {
		border-radius: 0px;
	}

    button:last-child {
        border-radius: 0px 0px 8px 8px;
    }
}