SettingsPage {
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    > Tabs {
        min-height: 400px;
        flex-grow: 1;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    Tabs {
        Tab Label,
        Tab .label {
            flex-grow: 0;
        }

        PanelContent {
            flex-grow: 1;
            justify-content: flex-start;
            flex-wrap: wrap;
            flex-direction: column;

            Label,
            .label {
                flex-grow: 1;
                margin-top: 7px;
            }

            TextEntry,
            Dropdown {
                flex-shrink: 1;
                min-width: 200px;
            }

            .setting {
                padding: 5px;
                margin: 2px;
            }
        }
    }

    .wrapper {
        margin-top: 10px;

        .button {
            flex-grow: 1;
            justify-content: center;
            background-color: #000c;
            border: 1px solid #1b1b1b;
            border-radius: 8px;
            margin: 4px;
            padding: 8px 0px;
        }
    }
}
