InspectMenu {
    background-color: #000c;
    color: #fafafa;
    font-family: Poppins;
    font-weight: 500;
    border-radius: 4px;
    margin: auto;
    top: 66%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
    border: 1px solid #000c;

    &.hide {
        display: none;
    }
    &.inspected {
        border-radius:8px;
        border: 0px;
    }

    ConfirmationPanel {
        min-width: 550px;
        min-height: 225px;
        border-radius: 8px;
        padding: 6px 15px;
        text-align: center;
        flex-direction: column;
        border: 2px solid #031421;
        border-radius: 8px;

        &.hide {
            display: none;
        }

        Header {
            margin-bottom: 10px;

            Label {
                &.player {
                    text-align: left;
                    flex-grow: 1;
                    font-size: 24px;
                    font-weight: 500;
                }

                &.role {
                    text-align: right;
                    font-size: 18px;
                    flex-shrink: 1;
                    font-weight: 500;
                    padding-top: 6px;
                }
            }
        }

        Content {
            margin-bottom: 25px;
            margin-top: 10px;

            .itemWrapper {
                width: 400px;
                margin-top: 5px;

                InspectItem {
                    margin-top: 5px;

                    .itemContent {
                        flex-direction: column;
                        align-items: center;
                        margin: auto;
                        width: 100px;

                        ImageWrapper {
                            background-color: rgba(0, 0, 0, 0.7);
                            border: 1px solid #031421;
                        }
                        .inspectItemName {
                            margin-top: 5px;
                            text-align: center;
                        }
                    }
                }
            }

            ImageWrapper {
                height: 66px;
                width: 66px;
                border-radius: 4px;
                // transition: all 0.05s linear;
                margin-right: 5px;

                Image {
                    width: 100%;
                    height: 100%;
                }

                &.playericon {
                    border-radius: 50%;
                    width: 150px;
                    border: 0;
                    background-color: #fff0;

                    .avatar {
                        // padding: 2px;
                        border-radius: 50%;
                        border: 1.5px solid white;
                        width: 110px;
                        height: 110px;
                    }
                }
            }
        }

        Footer {
            position: absolute;
            bottom: 5px;
        }
    }

    ConfirmationHintPanel {
        &.hide {
            display: none;
        }

        padding: 5px 15px;
    }

    Footer,
    ConfirmationHintPanel {
        // position: absolute;
        // bottom: 5px;
        Label.inspect {
            width: 100%;
            color: #ffae00;
            font-size: 0.8em;
            text-align: center;

            &.hide {
                display: none;
            }
        }
    }
}
