InspectIcon {
    min-height: 75px;
    min-width: 75px;
    background-color: rgb(23, 23, 23);
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 4px;

    &.selected {
        border: 1px solid #ffffff;
        border-radius: 5px;
    }

    image {
        height: 100%;
        width: 100%;
    }
}
