InspectMenu {
    background-color: #000c;
    color: #fafafa;
    font-weight: 500;
    top: 66%;
    left: 50%;
    position: absolute;
    margin: auto;
    transform: translateX(-50%) translateY(-40%);
    font-family: Poppins;

    &.hide {
        display: none;
    }

    ConfirmationPanel {
        padding: 6px 12px;
        flex-direction: column;

        &.hide {
            display: none;
        }

        Header {
            Label {
                &.player {
                    font-size: 24px;
                    font-weight: 500;
                }

                &.role {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }

        Content {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 25px;
            margin-top: 15px;

            InspectIcon {
                flex-direction: column;

                &.selected {
                    border: 2px solid #f6c552;
                    border-radius: 4px;
                }
            }

            ImageWrapper {
                height: 50px;
                width: 50px;
                background-color: rgba(0, 0, 0, 0.7);
                border: 2px solid #031421;
                border-radius: 4px;

                &.playericon {
                    height: 95px;
                    width: 95px;
                    border-radius: 50%;
                    border: 2px solid white;

                    Image {
                        padding: 2px;
                        border-radius: 50%;
                    }
                }

                Image {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    ConfirmCorpsePanel {
        padding: 5px 15px;

        &.hide {
            display: none;
        }

        Label {
            width: 100%;
            color: #ffae00;
            font-size: 18px;
            text-align: center;
        }
    }
}
