RoleButtonPoint {
    position: absolute;

    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;

    background-color: rgba(0, 0, 0, 0.65);
    border: 4px solid black;
    border-radius: 25%;

    padding: 4px;
    font-size: 9px;

    align-items: center;
    justify-content: center;
    text-align: center;

    &.focus {
        border: 4px solid #fafafa;
        background-color: rgba(0, 0, 0, 0.85);
    }

    &.hide {
        opacity: 0;
    }

    Label,
    .label {
        color: #fafafa;
    }
}
