.breathindicator {
    position: absolute;
    width: 200px;
    height: 25px;
    left: 50%;
    bottom: 135px;
    transform: translateX(-50%) translateY(-50%);
    transition: opacity 1s ease-out;
    justify-content: center;
    opacity: 0;

    &.fade-in {
        opacity: 1;
    }

    .breath-bar {
        width: 200px;
        height: 100%;
        background-color: dodgerblue;

        text-align: center;
        justify-content: center;

        .breath {
            position: absolute;
            font-size: 16px;
            font-weight: bold;
        }
    }
}
