GameTimer {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #1b1b1b;
    border-top: none;
    border-radius: 0 0 4px 4px;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    min-width: 250px;
    max-width: 420px;
    padding: 5px 15px;

    color: #fafafa;
    font-family: Poppins;
    font-size: 22px;

    GameTimerContent {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;

        .timelabel {
            margin-left: 10px;
            overflow-wrap: break-word;

            &.hide {
                display: none;
            }
        }
    }

    Label {
        font-weight: bold;
    }
}
