GameTimerDisplay {
    min-width: 150px;
    width: fit-content;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .round-label {
        font-size: 14px;
    }

    .timer-label {
        font-weight: bold;
        font-size: 18px;
    }
}
