QuickShop {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.15s ease-out;
    pointer-events: all;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    .credit-label {
        margin: 25px;
        font-size: 24px;
        font-weight: bold;
    }

    .item-panel {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .item-description-label {
        margin: 25px;
        font-size: 18px;
    }
}

QuickShopItem {
    flex-direction: column;
    width: 125px;
    height: 125px;
    margin: 15px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-shadow: 0 0 10px black;
    transition: transform 0.1s ease-in;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    &:active {
        transform: scale(1);
    }

    .item-icon {
        background-repeat: no-repeat;
        background-size: contain;
        height: 80px;
        width: 80px;
    }

    .item-name-label {
    }

    .item-price-label {
    }
}
