KeyBindingsPage,
KeyBindingsPage .tabcontainer .sheets > Panel {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    color: white;
}

KeyBindingsPage .tabcontainer .sheets > Panel {
    overflow: scroll;
}
