Keybind {
    background-color: #000c;
    border: 1px solid #1b1b1b;
    border-radius: 8px;

    padding: 5px 10px;

    font-family: Poppins;
    font-weight: 500;

    justify-content: center;

    text-align: center;
    margin: 0 auto;

    min-width: 30px;

    cursor: pointer;
}
