InfoFeed
{
    position: absolute;
    top: 25px;
    right: 25px;
    flex-direction: column-reverse;
    width: 400px;
    align-items: flex-end;
}

InfoFeedEntry {
    border-radius: 4px;
    margin-bottom: 5px;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 5px 10px;
    position: relative;
    transition: all 0.2s ease-out;

    &:intro {
        transform: scale(1.5);
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        height: 0;
        opacity: 0;
    }

    &:outro {
        top: -20px;
        opacity: 0;
        transform: scale(1.25);
        transition: all 0.2s ease-in;
    }

    .left, .right {
        padding: 0 5px;
        font-weight: bold;
    }
}
