InfoFeed
{
    position: absolute;
    top: 25px;
    right: 25px;
    flex-direction: column;
    width: 400px;
    align-items: flex-end;
}

InfoFeedEntry {
    position: relative;
    margin-bottom: 5px;
    padding: 5px 10px;
    transition: all 0.25s ease-out;

    &:intro {
        right: 10px;
        opacity: 0;
    }

    &:outro {
        right: 10px;
        opacity: 0;
    }

    .left, .right {
        padding: 0 5px;
        font-weight: bold;
    }
}
