PostRoundMenu {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 2s ease-in-out;
    justify-content: center;
    text-align: center;
    pointer-events:none;
    opacity: 0;

    .background-banner-panel {
        position: absolute;
        top: 150px;
        width: 100%;
        height: 150px;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px black;
    }

    .container-panel {
        max-height: 250px;
        flex-direction: column;
        transition: transform 2s ease-in-out;
        transform: scale(0.75);

        &.pop-in {
            transform: scale(1);
        }
    }

    .header-label {
        font-weight: bolder;
        font-size: 50px;
        width: 100%;
    }

    .content-label {
        font-size: 20px;
        font-weight: 600;
    }

    &.fade-in {
        opacity: 1;
    }
}
