PostRoundMenu {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 2s ease-in-out;
    justify-content: center;
    text-align: center;
    opacity: 0;

    .container-panel {
        max-height: 250px;
        top: 100px;
        width: 50%;
        flex-direction: column;
        justify-content: center;
        transition: transform 2s ease-in-out;
        transform: scale(0.75);

        &.pop-in {
            transform: scale(1);
        }
    }

    .header-label {
        font-weight: bold;
        font-size: 48px;
        width: 100%;
    }

    .content-label {
        font-size: 22px;
        font-weight: 600;
    }

    &.fade-in {
        opacity: 1;
    }
}
