Tooltip {
    position: absolute;
    top: 0px;
    width: 100%;
    transform: translateY(-100%);
    margin: -4px;

    background-color: #000F;
    padding: 10px;

    border: 1px solid #1b1b1b;
    border-radius: 8px;

    transition: opacity 0.2s linear;

    &.hide {
        opacity: 0;
    }
}
