Tooltip {
    position: absolute;
    transform: translateY(-100%);
    margin: -4px;

    background-color: #000F;
    padding: 10px;

    border: 1px solid #1b1b1b;
    border-radius: 8px;

    transition: opacity 0.2s linear;

    z-index: 9999;

    color: #fafafa;
    font-family: Poppins;
    font-weight: 500;

    &.hide,
    &:outro {
        opacity: 0;
    }
}
