.panel.node {
    width: 200px;
    min-height: 80px;

    background-color: rgb(61, 118, 243);

    &.error {
        box-shadow: 0px 0px 20px red;
    }

    > .panel {
        &.header {
            padding: 4px;
            min-height: 30px;

            background-color: #000c;

            Button.closebutton {
                display: none;
            }

            Label.title {
                height: 20px;
                top: -5px;

                font-size: 10px;
            }
        }

        &.content {
            background-color: rgb(61, 118, 243);
            flex-direction: column;
        }

        &.footer {
            background-color: #000c;

            min-height: 10px;
            padding: 4px;
        }
    }

    .nodesetting {
        flex-grow: 1;
        flex-direction: row;

        > .nodeconnectionpanel {
            flex-shrink: 1;

            width: 18px;
            align-items: center;

            &.disable {
                opacity: 0;
            }

            > .nodeconnectionpoint {
                width: 10px;
                height: 10px;
                margin-left: 4px;

                background-color: rgb(207, 57, 57);

                border-radius: 100%;

                &.connected {
                    background-color: rgb(30, 194, 30);
                }
            }
        }

        > PanelContent {
            flex-grow: 1;

            padding: 8px;

            .textentry {
                background-color: #000c;
                width: 100%;
                padding: 4px 12px;

                border-radius: 16px;
            }
        }
    }
}
