ChatBox {
    position: absolute;
    bottom: 150px;
    left: 25px;
    flex-direction: column;
    width: 400px;
    z-index: 10;

    .input-panel {
        flex-direction: row;
        padding: 8px 8px 8px 8px;
        width: 100%;
        margin-top: 5px;
        border-width: 2px;
        align-items: center;
        transition: opacity 0.1s ease-out;

        .input-team-indicator {
            width: 12px;
            height: 12px;
            margin-left: 8px;
            margin-right: 12px;
        }

        &.open {
            pointer-events: all;
        }
    }

    .chat-canvas {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-height: 400px;
        overflow: scroll;

        &.fadeOut {
            transition: opacity 2s ease-out;
            opacity: 0;
        }
    }
}

ChatEntry {
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 8px;
    padding-right: 8px;

    &:last-child {
        padding-bottom: 8px;
    }

    .avatar {
        width: 25px;
        margin-right: 10px;
    }

    .message {
        flex-direction: column;

        .header {
            align-items: center;
            display: none;
            font-weight: 600;
            font-size: 16px;
            min-height: 25px;
        }
    }

    .disable {
        display: none;
    }

    &.show-header {
        margin-top: 8px;

        .avatar {
            height: 25px;
        }

        .header {
            display: flex;
        }
    }
}
