Tabs {
    background-color: #000c;
    border: 1px solid #1b1b1b;
    border-radius: 8px;

    font-family: Poppins;
    flex-direction: column;

    color: #fafafa;
    font-family: Poppins;
    font-weight: 500;
    pointer-events: all;

    &.hide {
        display: none;
        pointer-events: none;
    }

    .header {
        width: 100%;

        Tab {
            justify-content: center;
            flex-grow: 1;
            padding: 5px;

            &:hover {
                cursor: pointer;
            }

            &.selected {
                background-color: #000c;
                border-radius: 8px;
            }
        }
    }

    .content {
        justify-content: flex-start;
        flex-wrap: wrap;
        max-height: 400px;
        overflow: scroll;

        padding: 10px;
    }
}
