InspectMenu {
    border: 1px solid #1b1b1b;
    background-color: #000c;
    color: #fafafa;
    font-family: Poppins;
    font-weight: 500;
    border-radius: 4px;
    margin: auto;

    top:66%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);

    &.hide {
        display: none;
    }

    ConfirmationPanel {
        min-width: 600px;
        padding: 6px 12px;
        text-align: center;
        flex-direction: column;

        &.hide {
            display: none;
        }

        Header {
            margin-bottom: 10px;

            Label {
                &.player {
                    text-align: left;
                    flex-grow: 1;
                    font-size: 24px;
                    font-weight: 500;
                }

                &.role {
                    text-align: right;
                    font-size: 18px;
                    flex-shrink: 1;
                    font-weight: 500;
                    padding-top: 6px;
                }
            }
        }

        Content {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 25px;
            margin-top: 15px;
            justify-content: flex-start;

            InspectItem {
                flex-direction: column;
                margin-top: 5px;
                margin-left: 30px;
                text-align: center;
                width: 75px;
            }

            ImageWrapper {
                text-align: center;
                height: 75px;
                width: 75px;
                background-color: rgba(0, 0, 0, 0.7);
                border: 1px solid #031421;
                border-radius: 4px;
                text-align: center;
                // transition: all 0.05s linear;
                margin-right: 5px;

                &.playericon {
                    height: 95px;
                    width: 95px;
                    border-radius: 50%;
                    border: 2px solid white;
                }

                &.playericon Image {
                    padding: 2px;
                    border-radius: 50%;
                }

                Image {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    ConfirmationHintPanel {
        &.hide {
            display: none;
        }

        padding: 5px 15px;
    }

    Footer,
    ConfirmationHintPanel {
        Label.inspect {
            width: 100%;
            color: #ffae00;
            font-size: 0.8em;
            text-align: center;

            &.hide {
                display: none;
            }
        }
    }
}
