Nameplate {
    position: absolute;
    font-family: Poppins;
    left: 50%;
    top: 55%;
    transform: translateX(-50%) translatey(-45%);
    background-color: #000c;
    border-radius: 4px;
    border: 1px solid #000c;

    &.hide {
        display: none;
    }

    .labelHolder {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2px 25px;
        color: #fafafa;
        font-weight: 600;
        border-radius: 4px;

        .nameHolder {
            justify-content: center;
            width: 100%;

            .name {
                font-size: 16px;
            }
        }
        .damageIndicator {
            font-size: 12px;
        }
    }
}
